.button {
	width: 500px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 40px 80px;
    border: 1px solid #225594;
    border-radius: 21px;
    background: #40a0ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#40a0ff), to(#225594));
    background: -moz-linear-gradient(top, #40a0ff, #225594);
    background: linear-gradient(to bottom, #40a0ff, #225594);
    -webkit-box-shadow: #4dc0ff 0px 0px 40px 0px;
    -moz-box-shadow: #4dc0ff 0px 0px 40px 0px;
    box-shadow: #4dc0ff 0px 0px 40px 0px;
    text-shadow: #143257 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
}
.button:hover,
.button:focus {
    border: 1px solid ##a48d88;
    background: #ffdcd4;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffdcd4), to(#9d8883));
    background: -moz-linear-gradient(top, #ffdcd4, #9d8883);
    background: linear-gradient(to bottom, #ffdcd4, #9d8883);
    color: #ffffff;
    text-decoration: none;
}
.button:active {
    background: #225594;
    background: -webkit-gradient(linear, left top, left bottom, from(#225594), to(#225594));
    background: -moz-linear-gradient(top, #225594, #225594);
    background: linear-gradient(to bottom, #225594, #225594);
}

.buttonlogout {
	width: 500px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 40px 80px;
    border: 1px solid #83716d;
    border-radius: 21px;
    background: #d5b7b1;
    background: -webkit-gradient(linear, left top, left bottom, from(#d5b7b1), to(#83716d));
    background: -moz-linear-gradient(top, #d5b7b1, #83716d);
    background: linear-gradient(to bottom, #d5b7b1, #83716d);
    -webkit-box-shadow: #c5a9a3 0px 0px 40px 0px;
    -moz-box-shadow: #c5a9a3 0px 0px 40px 0px;
    box-shadow: #c5a9a3 0px 0px 40px 0px;
    text-shadow: #524744 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
}
.buttonlogout:hover,
.buttonlogout:focus {
    border: 1px solid ##a48d88;
    background: #ffdcd4;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffdcd4), to(#9d8883));
    background: -moz-linear-gradient(top, #ffdcd4, #9d8883);
    background: linear-gradient(to bottom, #ffdcd4, #9d8883);
    color: #ffffff;
    text-decoration: none;
}
.buttonlogout:active {
    background: #83716d;
    background: -webkit-gradient(linear, left top, left bottom, from(#83716d), to(#83716d));
    background: -moz-linear-gradient(top, #83716d, #83716d);
    background: linear-gradient(to bottom, #83716d, #83716d);
}


.content {
  max-width: auto;
  margin: auto;
}


body, html {
  height: 100%;
  margin: 0;
}

body {
  background-image: url("img/library.png");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}